.meal-result {
    cursor: pointer;
    position: relative;
    height: 180px;
    width: 180px;
    text-align: center;

    
}
.meal-result img {
    width: 100%;
    height: 100%;
    
    border-radius: 2px;
}
.meal-info {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in;
    opacity: 0;
}

.meal-result:hover .meal-info{
    opacity: 1;
}





